/* Applying general styles to the employment section */
.employment {
  background-color: transparent; /* Applying a background color for contrast */
}

/* Styles for the vertical timeline elements */
.vertical-timeline-element-title {
  color: #fad233 !important; /* Setting the color for the titles in the timeline */
  font-weight: bold; /* Making the titles bold */
  font-size: 20px !important;
}

.vertical-timeline-element-subtitle {
  color: white; /* Setting the color for the subtitles */
  font-size: 14px !important;
}

.vertical-timeline-element-date {
  font-size: 18px !important;
  color: #fad233 !important; /* Setting the color for the date in the timeline */
}

/* Additional styles to adjust the spacing and layout */
.vertical-timeline-element-content {
  text-align: left;
  padding-left: 20px !important; /* Adding padding to the left to separate the content from the border */
  background-color: #23272e !important; /* Applying a background color for contrast */
}
