.footer {
  background-color: #1e2125 !important;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: "Roboto-Regular", sans-serif;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}
